body {
    margin: 0px;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color: white;
    padding: 10px;
}

nav a {
    padding: 10px 25px;
    text-decoration: none;
    color: rgb(243, 243, 243);

}

.home {
    background: url("backgroundwine.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    padding-top: 100px;
    
}

.home div {
    text-align: center;
    color: white;
    margin: auto;
    width: 70%;
    padding: 20px;
}

.welcome {
    font-size: 30px;
    
}

.home a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}

.about {
    background-color: black;
    height: 600px;
    padding-top: 100px;
}

.about div {
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
}

.about img {
    height: 200px;
}


.product {
    background: url(xofynekayakat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
    display: flex;
    

}

.product .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .container .card {
    width:260px; 
    margin:10px; 
    height: 470px; 
    box-shadow: 0 0 2px ; 
    padding: 10px; 
    text-align: center; 
    background-color: rgb(77, 71, 71);
    border-radius: 11px;
 
}

.product.container.card img {
    width: 100%;
}

.product.container.card a {
    color: rgb(197, 197, 197);
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}

.contact {
    background-color: rgb(224, 224, 224);
    height: 600px;
}

footer {
    background-color: black;
    height: 50px;
}