body {
    margin: 0px;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color: rgb(0, 0, 0);
    padding: 10px;
    
}
header img {
width: 60px;
}


nav a {
    padding: 10px 25px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
     z-index: 0;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
}

 nav a:hover{
    padding: 15px 22px;
    animation: rainbow 10s infinite;
    background-color: rgb(10, 15, 20);
    opacity: 80%;
    transition: 0.5s;
}

.home {
    background: url("backgroundwine.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    padding-top: 100px;
    
}

.home div {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: auto;
    width: 70%;
    padding: 20px;
}

.welcome {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique ;
    
}
.welcome:hover{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-align: center;
    transition: 2s;
}
.home a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
    -webkit-animation: order 15s infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.home a:hover{
    padding: 15px 25px;
    transition: 1s;
    background-color: aliceblue
    
}

.about {
    background: url(xofynekayaleen.jpg);
    height: 600px;
    padding-top: 100px;
    
}
.about div {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    width: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.about div:hover {   
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 0px 3px;
    color: rgb(178, 245, 243);
}
.about img {
    height: 200px;
    border-radius: 10px;
}


.product {
    background: url(xofynekayakat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
    display: flex;
    

}

.product .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .container .card {
    width:260px; 
    margin:10px; 
    height: 470px; 
    box-shadow: 0 0 2px ; 
    padding: 10px; 
    text-align: center; 
    background-color: rgb(197, 197, 197);
    border-radius: 11px;
    

}
.card{
    overflow: hidden;
    position: relative;

    
}
.card .desk {
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: absolute;
    top: 800px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card:hover .desk {
    top: 0px;
    transition: 0.5s;

}
.card:hover{
    transform: scale(    1.1);
    transition: 1s;
}
.card:hover .gambar {
    top: 0px;
    transition: 0.5s;
    opacity: 10%;
}
.card .desk .order {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.card .desk .order:hover {
    background-color: rgb(148, 131, 131);
    color: rgb(116, 105, 105);
    box-shadow: 0px 0px 3px;
    transition: 0.7s;
    padding: 10px 5px;
    -webkit-animation: order 20s infinite;
    animation: order 5s infinite;
    border-radius: 10px;
    display: inline-block;
    transition: 2s;
}
    
.gambar h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.desk.kk {

display: inline-block;
    
}
.card img {
    width: 100%;
    border-radius: 20px;
    
}

.product.kontainer.card a {
    color: rgb(255, 223, 223);
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
.product .kontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .kontainer .card {
    width:260px; 
    margin:10px; 
    height: 470px; 
    box-shadow: 0 0 2px ; 
    padding: 10px; 
    text-align: center; 
    background-color: rgb(181, 181, 181);
    border-radius: 11px;

}

.card img {
    width: 100%;
    border-radius: 20px;
    
}

.product.kontainer.card a {
    color: rgb(255, 223, 223);
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
.contact {
    background: url(xofynekayakett.jpg);
    height: 600px;
}

.contact .card {
        margin: auto;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 10px;
        width: 600px;
        justify-content: center;
}
section.contact img{
    width: 500px;
}

.contact h1 {
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 60px;
    text-align: center;
    font-style: oblique;
}

footer {
    background-color: rgb(0, 0, 0);
    height: 50px;
    padding: 10-px;
}
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: block;
}
@-webkit-keyframes rainbow{
    1%{color : rgb(15, 68, 241);}
    10%{color: rgb(0, 204, 255);transform: rotate(10deg);}
    20%{color: rgb(0, 255, 242);}
    30%{color: Cadet rgb(0, 255, 242); }
    40%{color: rgb(0, 255, 106);}
    50%{color: rgb(255, 252, 80);}
    60%{color: rgb(218, 142, 0);}
    70%{color: rgb(234, 0, 255);}
    80%{color: DeepPink;}
    90%{color :rgb(50, 98, 255) }
    100%{color: rgb(228, 255, 106);}
}
@-webkit-keyframes order{
    1%{color : rgb(15, 68, 241);}
    10%{color: rgb(0, 204, 255);transform: rotate(10deg);}
    20%{color: rgb(0, 255, 242);}
    30%{color: Cadet rgb(0, 255, 242);}
    40%{color: rgb(0, 255, 106);}
    50%{color: rgb(255, 252, 80);}
    60%{color: rgb(218, 142, 0);}
    70%{color: rgb(234, 0, 255);}
    80%{color: DeepPink; transform: rotate(-10deg) ;}
    90%{color :rgb(50, 98, 255) }
    100%{color: rgb(228, 255, 106);}
}
